@import "_button.scss";
@import "_card.scss";
@import "_navitem.scss";

body{
    width: 100%;
    display: inline-block;
    background-color: #f9f9f4;
    box-shadow: inset 1px 1px 10px 5px #DDD; 
}
.Nav{
    animation: move-left 2s ease-out 1;
    display: inline-block;
    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
    }
    position: sticky;
    font-family: "Akaya Kanadaka", sans-serif;
}

.mingzhoudong{
    .project-icon{
        cursor: pointer;
        padding: 6px 15px;
        border-radius: 20px;
        border: black 2px solid;
        width: max-content;
    }
    img{
       width: 150px;
       float: right;
       
    };
    font-family: "Akaya Kanadaka", sans-serif;
    font-size: 20px;
    font: 700;
    padding: 50px 10vw;
    
}

.project {
    font-family: "Akaya Kanadaka", sans-serif;
}

.disp-flex {
    display: flex;
}
.flex-end {
    justify-content: flex-end;
}

.z-100 {
    z-index: 100;
}

.cursor-pointer {
    cursor: pointer;
}
.contact{
    @keyframes moveupsidedown {
        0%, 50%, 100% {
          transform: translateY(0);
        }
        25%{
            transform: translateY(10%); 
        }
        75% {
            transform: translateY(-10%);
        }
      }
    
    padding: 5vw 15vw;
    .icon{
        cursor: pointer;
        font-size: 4rem;
        transition: all;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
        &:hover{
            color: blue;
        }
    }
    a {
        text-decoration: none;
    }
}

.footer{
    height: 200px;
    bottom: 0;
    position: relative;
    font-family: 'Beth Ellen';
    display: flex;
    &> * {
         margin: auto;
    }
}

@keyframes move-left {
    0%{transform: translateX(-30%);}
    100%{transform: translateX(0%);}
}

.movetransition{
    &-enter {
        transform: translateX(-100%);
    }
    &-enter-active {
        transform: translateX(0%);
        transition: all 1s;
      }
    &-exit {
        transform: translateX(0%);
      }
    &-exit-active {
        transform: translateX(100%);
        transition: all 1s;
    } 
}

.width {
    &-max-content{
        width: max-content;
    }
}

