@import "_button.scss";
@import "_card.scss";
@import "_navitem.scss";

div {
    padding: 1rem;
}
body{
    width: 100%;
    display: inline-block;
    background-color: #f9f9f4;
    box-shadow: inset 1px 1px 10px 5px #DDD; 
}
.Nav{
    display: inline-block;
    position: sticky;
    font-family: "Akaya Kanadaka", sans-serif;
}

.mingzhoudong{
    font-family: 'Annie Use Your Telescope';
    font-size: 1.5rem;
    font: 700;
    padding: 50px 10vw;
    .col-sm{
        border-left: 1px solid #2f2f2f;
        padding: 5vw;
    }
}

.contact{
    @keyframes moveupsidedown {
        0%, 50%, 100% {
          transform: translateY(0);
        }
        25%{
            transform: translateY(10%); 
        }
        75% {
            transform: translateY(-10%);
        }
      }
    
    padding: 5vw 15vw;
    .icon{
        cursor: pointer;
        font-size: 4rem;
        transition: all;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
        &:hover{
            color: blue;
            animation: moveupsidedown 0.1s infinite;
        }
    }
    a {
        text-decoration: none;
    }
}

.footer{
    height: 200px;
    bottom: 0;
    position: relative;
    display: flex;
    &> * {
         margin: auto;
    }
}



